{% extends 'base_sistema.html' %}
{% load static %}


{%block style%}
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
    <link rel="stylesheet" href="{% static 'css/tabela.css'%}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="{%static 'js/table.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/tabela.css'%}">
{%endblock%}

{%block titulo_header%}Vendas{%endblock%}

{% block conteudoPrincipal%}

    <div class="titulo">
        <h2>Vendas / Consultar</h2>
    </div>

    <section class="mainContent">

        <div class="box-conteudo">
            <button class="botao" id="myBtn">Novo</button>
            <div class="campo ">
                <table class="tabela" id="tabela" style="width:100%">
                    <thead>
                        <tr>
                            <td>Data</td>
                            <td>Cliente</td>
                            <td>Total</td>
                            <td>Vencimento</td>
                            <td>Status</td>
                            <td>Detalhes</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for venda in vendas %}
                        <tr>
                            <td>{{venda.data}}</td>
                            <td>{{venda.cliente}}</td>
                            <td>{{venda.total}}</td>
                            <td>{{venda.vencimento}}</td>
                            {%if venda.status == 'Pago'%}
                                <td style="color:rgb(17, 201, 17); font-weight: 700;">{{venda.status}}</td>
                            {%else%}
                                <td style="color:rgb(207, 0, 0); font-weight: 700;">{{venda.status}}</td>
                            {%endif%}
                            
                            <td><a href="#"><img class="lupa" src="{% static 'img/lupa.svg'%}" alt=""></a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>

        </div>

        <div id="myModal" class="modal">

            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Nova Venda</h2>

              <form action="{% url 'vendas' %}" method="POST" class="form">
                {% csrf_token %}
                <div>
                    <label for="cliente">Cliente</label>
                    <select id="cliente" name="cliente">
                        <option></option>
                        {% for cliente in clientes %}
                        <option>{{cliente}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="data">Data</label>
                <input id="data" type="date" name="data">
                </div>
                <hr>
                <div id="produtos-venda">
                    <div>
                        <label for="produto">Produto</label>
                        <select id="produto" name="produto">
                            <option></option>
                            {% for produto in produtos %}
                            <option>{{produto.nome}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    
                    <div>
                        <label for="quantidade">Quantidade</label>
                        <input id="quantidade" type="number" step="0.01" name="quantidade" value="{{dados.leite}}">
                    </div>
                    <button id="adicionar"><img src="{%static 'img/adicionar.png'%}" alt=""></button>
                </div>

                <table class="tabela">
                    <thead>
                        <tr>
                            <td>Produto</td>
                            <td>Uni</td>
                            <td>Valor</td>
                            <td>Qnt</td>
                            <td>Subtotal</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Queijo Coalho Especial</td>
                            <td>KG</td>
                            <td>40,00</td>
                            <td>5.643</td>
                            <td>256,55</td>
                        </tr>
                        <tr>
                            <td>Queijo Coalho Especial</td>
                            <td>KG</td>
                            <td>40,00</td>
                            <td>5.643</td>
                            <td>256,55</td>
                        </tr>
                        <tr>
                            <td>Queijo Coalho Especial</td>
                            <td>KG</td>
                            <td>40,00</td>
                            <td>5.643</td>
                            <td>256,55</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total</td>
                            <td style="text-align: center;">R$ 000,00</td>
                        </tr>
                    </tfoot>
                </table>

                <div>
                    <label for="faturamento">Faturamento</label>
                    <select id="faturamento" name="faturamento">
                        <option></option>
                        <option>7 Dias</option>
                        <option>14 Dias</option>
                        <option>21 Dias</option>
                        <option>30 Dias</option>
                    </select>
                </div>

                <button type="submit" >Salvar</button>
            </form>
            </div>
          
          </div>
    
          {% block js %}
          <script src="{%static 'js/modal.js'%}"></script>
          
          {%endblock%}

    </section>

{%endblock%}