{% extends 'base_sistema.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'css/producao/recebimento.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">


<script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="{%static 'js/table.js'%}"></script>
{%endblock%}

{%block titulo_header%}Produção{%endblock%}

{% block conteudoPrincipal%}


    <div class="titulo">
        <h2>Produção / Recebimento Leite</h2>
    </div>

    <div class="recebimentoLeite"> 

        <div class="box-conteudo cont1">
            <button class="botao" id="myBtn">Novo</button>
            <div class="campo">
                <input class="input-text" placeholder="pesquisar" type="text" name="pesquisar" id="pesquisar">
            </div>
            <div class="campo ">
                <table class="tabela" id="tabela">
                    <thead>
                        <tr>
                            <td>Data</td>
                            <td>Fornecedor</td>
                            <td>Qnt (l)</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for leite in leites%}
                        <tr>
                            <td>{{leite.data}}</td>
                            <td>{{leite.fornecedor}}</td>
                            <td>{{leite.quantidade}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">Total</td>
                            <td >{{leite_total.quantidade__sum}}</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
 
    </div>

    <div id="myModal" class="modal">

        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Inserir Recebimento de Leite</h2>
          <form class="form" action="{% url 'recebimento-leite' %}" method="POST">
            {% csrf_token %}
            <div class="form__campo">
                <label class="form__campo-label" for="data">Data</label>
                <input class="form__campo-input" name="data" id="data" type="datetime-local">
            </div>
            <div class="form__campo">
                <label class="form__campo-label" for="">Fornecedor</label>
                <select class="form__campo-input" name="fornecedor" id="fornecedor">
                    {% for fornecedor in fornecedores%}
                        <option value="{{fornecedor}}">{{fornecedor}}</option>
                    {%endfor%}
                  </select>
            </div>
            <div class="form__campo">
                <label class="form__campo-label" for="qnt">Quantidade</label>
                <input class="form__campo-input" name="qnt" step="0.01" id="qnt" type="number">
            </div>
            <button type="submit" class="botao">Salvar</button>
          </form>
        </div>
      
      </div>

      {% block js %}
      <script src="{%static 'js/modal.js'%}"></script>
      
      {%endblock%}

{% endblock%}