{% extends 'base_sistema.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'css/producao/recebimento.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{%endblock%}

{%block titulo_header%}Produção{%endblock%}

{% block conteudoPrincipal%}


    <div class="titulo">
        <h2>Produção / Recebimento Leite</h2>
    </div>

    <div class="recebimentoLeite">

        <div class="box-conteudo cont1">
            <button class="botao" id="myBtn">Novo</button>
            <div class="campo">
                <input class="input-text" placeholder="pesquisar" type="text" name="pesquisar" id="pesquisar">
            </div>
            <div class="campo ">
                <table class="tabela">
                    <thead>
                        <tr>
                            <td>Data</td>
                            <td>Fornecedor</td>
                            <td>Qnt (l)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                        <tr>
                            <td>10/02/22</td>
                            <td>Parananema</td>
                            <td>65.0</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">Total</td>
                            <td >99.9</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
 
    </div>

    <div id="myModal" class="modal">

        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Inserir Recebimento de Leite</h2>
          <form class="form" action="">
            <div class="form__campo">
                <label class="form__campo-label" for="data">Data</label>
                <input class="form__campo-input" name="data" id="data" type="datetime-local">
            </div>
            <div class="form__campo">
                <label class="form__campo-label" for="">Fornecedor</label>
                <input class="form__campo-input" type="text">
            </div>
            <div class="form__campo">
                <label class="form__campo-label" for="qnt">Quantidade</label>
                <input class="form__campo-input" name="qnt" id="1nt" type="number">
            </div>
            <button class="botao">Salvar</button>
          </form>
        </div>
      
      </div>

      {% block js %}
      <script src="{%static 'js/modal.js'%}"></script>
      {%endblock%}

{% endblock%}