{% extends 'base_sistema.html' %}
{% load static %}


{%block style%}
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
    <link rel="stylesheet" href="{% static 'css/tabela.css'%}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="{%static 'js/table.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/tabela.css'%}">
{%endblock%}

{%block titulo_header%}Estoque{%endblock%}

{% block conteudoPrincipal%}

    <div class="titulo">
        <h2>Estoque / Consultar</h2>
    </div>

    <section class="mainContent">

        <div class="box-conteudo">
            <button class="botao" id="myBtn">Cadastrar Produto</button>
            <button class="botao" id="myBtn2">Nova Entrada</button>
            <div class="campo ">
                <table class="tabela" id="tabela" style="width:100%">
                    <thead>
                        <tr>
                            <td>Produto</td>
                            <td>Unidade</td>
                            <td>Quantidade</td>
                            <td>Detalhes</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for estoque in estoques %}
                        <tr>
                            <td>{{estoque.produto}}</td>
                            <td>{{estoque.unidade}}</td>
                            <td>{{estoque.quantidade}}</td>
                            <td><a href="/producao/estoque/{{estoque.id}}"><img class="lupa" src="{% static 'img/lupa.svg'%}" alt=""></a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>

        </div>

        <div id="myModal" class="modal">

            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Cadastrar Novo Produto</h2>

              <form action="{% url 'cadastro-produto' %}" method="POST" class="form">
                {% csrf_token %}
                <div>
                    <label for="tipo">Tipo</label>
                    <select id="tipo" name="tipo">
                        <option></option>
                        {% for tipo in tipos %}
                        <option>{{tipo.nome}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" name="nome" value="{{dados.nome}}">
                </div>
                <div>
                    <label for="categoria">Categoria</label>
                    <select id="categoria" name="categoria">
                        <option></option>
                        {% for categoria in categorias %}
                        <option>{{categoria.nome}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="marca">Marca</label>
                    <select id="marca" name="marca">
                        <option></option>
                        {% for produto in marcas %}
                        <option>{{produto.marca}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div>
                    <label for="unidade">Unidade</label>
                    <select id="unidade" name="unidade">
                        <option></option>
                        <option>UNI</option>
                        <option>KG</option>
                        <option>PC</option>
                    </select>
                </div>
                <div>
                    <label for="codBarras">Codigo de Barras</label>
                    <input id="codBarras" type="number" step="1" name="codBarras" value="{{dados.codBarras}}">
                </div>
                <div>
                    <label for="valCompra">Valor Compra</label>
                    <input id="valCompra" type="number" step="0.01" name="valCompra" value="{{dados.valCompra}}">
                </div>
                <div>
                    <label for="valVenda">Valor Venda</label>
                    <input id="valVenda" type="number" step="0.01" name="valVenda" value="{{dados.valVenda}}">
                </div>

                <button type="submit" >Salvar</button>
            </form>
            </div>
          
          </div>
        
        <div id="myModal2" class="modal">

            <div class="modal-content">
              <span id="close2" class="close">&times;</span>
              <h2>Nova Entrada</h2>

              <form action="{% url 'estoque' %}" method="POST" class="form">
                {% csrf_token %}

                <div>
                    <label for="leite">Data</label>
                    <input id="data" type="date" name="data" value="{{dados.leite}}">
                </div>
                <div>
                    <label for="produto">Produto</label>
                    <select id="produto" name="produto">
                        <option></option>
                        {% for estoque in estoques %}
                        <option>{{estoque.produto}}</option>
                        {%endfor%}
                    </select>
                </div>
                
                <div>
                    <label for="quantidade">Quantidade</label>
                    <input id="quantidade" type="number" step="0.01" name="quantidade" value="{{dados.leite}}">
                </div>

                <button type="submit" >Salvar</button>
            </form>
            </div>
          
          </div>
    
          {% block js %}
          <script src="{%static 'js/modal.js'%}"></script>
          
          {%endblock%}

    </section>

{%endblock%}