:root {
    --fundo: #ECF2FD;
    --bg-footer: #727272;
    --branco-texto: #FFFFFF;
    --raleway: 'Raleway', sans-serif;
    --input: #E7E7E7;
    --preto: #000920;
    --preto-hover: #252b3a;
    --verde: #027200;
    --fundo-cinza: #E1E5EC;
    --input-bg: #EAF0FB;
}

body {
    background-color: var(--fundo);
    font-family: var(--raleway);
}

.rodape {
    background-color: var(--bg-footer);
    color: var(--branco-texto);
    padding: 1rem;
    height: auto;
}

.rodape__info {
    text-align: center;
}

.conteudo {
    height: 100%;
}
