.tabela{
    color: var(--preto);
    width: 100%;
}

.tabela thead {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.tabela thead tr {
    height: 3rem;
}

.tabela tbody {
    font-size: 0.8rem;
}

.tabela tfoot {
    height: 3rem;
    text-align: left;
}

.tabela tfoot tr td {
    text-align: left;
    padding-left: 1rem;
}

.tabela th,.tabela td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    height: 1.5rem;
    vertical-align: middle;
  }

.tabela tbody tr:hover {
    background-color: var(--input-bg);
}