{% extends 'base.html' %}
{% load static%}


{%block head%}
    <link rel="stylesheet" href="{% static 'css/toggle_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_sistema.css' %}">

    {% block style%}

    {%endblock%}
{%endblock%}



{%block conteudo%}

{% url 'home' as home_url %}
{% url 'recebimento-leite' as recebimento_leite_url %}

<header class="header">

    <nav role="navigation">
        <div id="menuToggle">
          <input class="input" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
        <ul class="sidebar" id="menu">
            <h2 class="sidebar__titulo"><a href="">Rancho Alere</a></h2>
            
            <li class="sidebar__item">
                <a href="{{home_url}}">
                    <p class="sidebar__item--texto">Home</p>
                </a>


            </li>
            <li class="sidebar__item">
                <input class="sidebar__item--check" type="checkbox">
                <p class="sidebar__item--texto">Produção</p>

                <ul class="sidebar__subitems">
                    <li class="sidebar__subitems--item">
                        <a  href="{{recebimento_leite_url}}">Recebimento Leite</a>
                    </li>
                    <li class="sidebar__subitems--item">
                        <a  href="">Consultar Produções</a>
                    </li>

                </ul>
            </li>
            <li class="sidebar__item">
                <input class="sidebar__item--check" type="checkbox">
                <p class="sidebar__item--texto">Estoque</p>

                <ul class="sidebar__subitems">
                    <li class="sidebar__subitems--item">
                        <a  href="">Consultar Estoque</a>
                    </li>

                </ul>
            </li>
            <li class="sidebar__item">
                <input class="sidebar__item--check" type="checkbox">
                <p class="sidebar__item--texto">Vendas</p>

                <ul class="sidebar__subitems">
                    <li class="sidebar__subitems--item">
                        <a  href="">Consultar Vendas</a>
                    </li>
                    <li class="sidebar__subitems--item">
                        <a  href="">Pedidos</a>
                    </li>

                </ul>
            </li>
            <li class="sidebar__item">
                <input class="sidebar__item--check" type="checkbox">
                <p class="sidebar__item--texto">Compras</p>

                <ul class="sidebar__subitems">
                    <li class="sidebar__subitems--item">
                        <a  href="">Consultar Compras</a>
                    </li>

                </ul>
            </li>
            <li class="sidebar__item">
                <input class="sidebar__item--check" type="checkbox">
                <p class="sidebar__item--texto">Clientes/Fornecedores</p>

                <ul class="sidebar__subitems">
                    <li class="sidebar__subitems--item">
                        <a  href="">Consultar Clientes</a>
                    </li>
                    <li class="sidebar__subitems--item">
                        <a  href="">Consultar Fornecedores</a>
                    </li>

                </ul>
            </li>
            <li class="sidebar__item">
                <input class="sidebar__item--check" type="checkbox">
                <p class="sidebar__item--texto">Financeiro</p>

                <ul class="sidebar__subitems">
                    <li class="sidebar__subitems--item">
                        <a  href="">Consultar</a>
                    </li>

                </ul>
            </li>

        </ul>
       </div>
      </nav>
    
    <a class="header__notify" href=""><img src="{% static 'img/sino.svg' %}" alt=""></a>
    <div class="header__user">
        <img class="header__user--img" src="{% static 'img/user.svg' %}" alt="">
        <div class="header__user--texto">
            <p class="header__user--texto-nome">Gabriel Ferreira</p>
            <p class="header__user--texto-funcao">Funcionario</p>
        </div>
    </div>
</header>

<div class="content">
    <div class="fundo">
        
    </div>

    <div>
        {% block conteudoPrincipal%}
        {%endblock%}
    </div>

</div>


{% block js %}
{%endblock%}


{%endblock%}