.recebimentoLeite {
    height: auto;
    padding: 1rem 2rem;

    display: grid;
    grid-template-areas: 
    "box1"
    "box2"
    ;

    grid-gap: 1rem;
}

.box-conteudo {
    grid-area: box;
    grid-column: 1/1;
    background-color: var(--branco-texto);
    box-shadow: 2px 2px 29px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2rem 1rem;
    height: auto;
    display: inline-block;
}

.cont1 {
    grid-area: box1;
    grid-column: 1/1;
}


.campo {
    margin-top: 1rem;
    width: 100%;
    display: -ms-inline-grid;
}

.input-text {
    min-width: -webkit-fill-available;
}

.tabela{
    color: var(--preto);
    width: inherit;
}

.tabela thead {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.tabela thead tr {
    height: 3rem;
}

.tabela tbody {
    font-size: 0.8rem;
}

.tabela tfoot {
    height: 3rem;
    text-align: left;
}

.tabela tfoot tr td {
    text-align: left;
    padding-left: 1rem;
}

.tabela th,.tabela td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    height: 1.5rem;
    vertical-align: middle;
  }

.tabela tbody tr:hover {
    background-color: var(--input-bg);
}

.modal-content .form{
    margin: 3rem 0;
}